<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title> {{ title }} </title>
<link rel="stylesheet" href="/styles/screen.css" />
</head>
<ul>
<a href="/">Home</a>
</ul>
<h2>Laptop</h2>
<img src="/images/laptop.png" alt="Laptop" class="item-photo" />
<p class="desc">
A old laptop I use for school and classes. Perfect for note taking and watching YouTube videos.
</p>

<p class="why">
<strong>Why I can't leave home without it:</strong>
I need it to be productive in class and it holds all of my assignment files.
</p>