<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title> {{ title }} </title>
<link rel="stylesheet" href="/styles/screen.css" />
</head>
<ul>
<a href="/">Home</a>
</ul>
<h2>Pens</h2>

<img src="/images/pens.png" alt="Pens" class="item-photo" />

<p class="desc">
Basic assortment of pens for writing notes or sketching out ideas.
</p>

<p class="why">
<strong>Why I can't leave home withut them:</strong>
You never know when you need a physical writing tool and it's always good to be prepared.
</p>