body {
    background: #101820;
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
    justify-content: center;
}

nav a {
    color: #9ee1c6;
    text-decoration: none;
    margin: 0;
    padding: 12px;
    border-radius: 6px;
    background: rgba(158, 255, 198, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 10px;
    color: #9ee1c6;
}

h2 {
    margin-top: 20px;
    color:#cfe9ff;
    font-size: 1.8rem;
}

ul {
    padding-left: 0;
    max-width: 300px;
    margin: 20px auto;
}

ul li {
    margin-bottom: 10px;
    text-align: center;
}

.item-photo {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

.desc{
    max-width: 500px;
    margin:10px auto;
}

.why {
    font-size: 1.1rem;
    max-width:500px;
    margin: 10px auto;
    color:#cfe9ff;
}

p {color: #9ee1c6;}